doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		header
			include templates/navigation
		main
			section.gradient-bg
				div.container
					div.row
						div.col-md-12.preview
							div.big-photo-png
								img(src="img/apple1.png", alt="apple")
							div.content-wrap
								h1.sans-regular.fz50.ttu.mb1 Lorem ipsum dolor sit
								p.roboto-light.fz20 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil soluta magni, expedita tempore non autem.
			include templates/shop
			include templates/category
			include templates/choice
			include templates/intro
			include templates/blog

			
		include templates/structure/scripts