section.intro
	div.container
		div.row
			.col-md-6
				.intro-img
					img(src="img/since.png" title="we work since")
				h2.title.orange Ми работаем для Вас!
				.text We deliver organic, ethically sourced boxes of brilliance straight to your door. We care about what you eat and where it comes from.
				a(href="shop.html" class="btn") Перейти в магазин
