div#nav.tab
	//- Navigation base start--------------------------
	.navigation.base.shadow-easee
		div.container
			div.row
				div.col-sm-2
					a(href="/" class="logo")
						img(src="../img/green-land.png", alt="%%title")
				div.col-sm-10
					nav.right
						ul.nav.dib
							each val, index in {1:'home',2:'sets',3:'shop',4:'promotion',5:'blog',6:'delivery',7:'contacts'}
								li
									a(href=val+'.html' class=index==1?'active roboto-light':'roboto-light')='%%'+val
						div.user-card.dib
							div.user-info.dib
								div.img.bdr50.dib
									img(src="../img/seampl10.jpg", alt="user")
								div.info-wrap.dib
									p.roboto-light.fz15 Smith john
									p.label.fz10 Administrator
							div.user-options.dib
								button(tupe="button" class="btn material")
									i.fas.fa-cogs
								button(tupe="button" class="btn material")
									i.fas.fa-sign-out-alt								
	//- Navigation base end-----------------------------	